.timer-container {

    text-align: 'center';
    display: flex;
    justify-content: space-between;
}

.time-container {

    font-size: 1.2em;
    font-weight: 700;
    margin-right: 0.4em;
}

.time-actions-container {

    font-size: 1em;
}