.header-container {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
}
.header-container img {
    width: 80px; 
    max-height: 80px;
  }

.menu-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

}

.menu-container ul li {
    font-weight: 500;
    list-style-type: none;
    background-color: #f3671a;
    padding: 0.5em 1.5em;
    border-radius: 2em;
}

.menu-container ul li a {
    text-decoration: none;
    color: white
}

.menu-container ul li :hover {
   cursor: pointer;
   color: grey;
}