.component-container {
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

.form-container {
    display: flex;
    gap: 1em;
}

.button-container {
    display: flex;
    gap: 1em;
    margin-bottom: 0.5em;
}